# 1.Manipulate using a list.
i)To add new elements to the end of the list
ii)To reverse elements in the list
iii)To display the same list of elements multiple times.
iv)To concatenate two list
v)To sort the elements in the list in ascending order.

In [45]:
#i)To add new elements to the end of the list
list1=['java','python','sql']
list1

['java', 'python', 'sql']

In [53]:
list1.append('aws')
list1

['java', 'python', 'sql', 'aws', 'aws', 'aws', 'aws', 'aws']

In [55]:
list1.pop()
list1.pop()
list1.pop()
list1

['java', 'python', 'sql', 'aws']

In [8]:
#ii)To reverse elements in the list
list1.reverse()
list1

['aws', 'sql', 'python', 'java']

In [57]:
#iii)To display the same list of elements multiple times.
list1*3

['java',
 'python',
 'sql',
 'aws',
 'java',
 'python',
 'sql',
 'aws',
 'java',
 'python',
 'sql',
 'aws']

In [58]:
list2=['abc','def']
list2

['abc', 'def']

In [60]:
#iv)To concatenate two list
l=list1+list2
l

['java', 'python', 'sql', 'aws', 'abc', 'def']

In [61]:
#v)To sort the elements in the list in ascending order.
l.sort()
l

['abc', 'aws', 'def', 'java', 'python', 'sql']

# 2.Write a Python program to do in the tuples.
i)Manipulate using tuples.
ii)To add new elements to the end of the tuples
iii)To reverse elements in the list
iv)To display the elements of the same tuple multiple times.
v)To concatenate two tuples
vi)To sort the elements in the list in ascending order.

In [5]:
#i)Manipulate using tuples.
tuple1=(22,34,78)
tuple1=list(tuple1)
print(tuple1)
print(type(tuple1))

[22, 34, 78]
<class 'list'>

In [115]:
#ii)To add new elements to the end of the tuples
tup=(1,2,3)
tuple1=tup+(6,7)
print(tuple1)

(1, 2, 3, 6, 7)

In [119]:
#iii)To reverse elements in the list
tuple1=(1,3,5,7)
tuple1=tuple1[: :-1]
tuple1

(7, 5, 3, 1)

In [120]:
#iv)To display the elements of the same tuple multiple times.
tuple1*3

(7, 5, 3, 1, 7, 5, 3, 1, 7, 5, 3, 1)

In [2]:
#v)To concatenate two tuples
t1=(1,2,3)
t2=(9,8,7)
t=t1+t2
print(t)

(1, 2, 3, 9, 8, 7)

In [12]:
#vi)To sort the elements in the list in ascending order.
tuple1=(22,34,7)
tuple1=list(tuple1)
tuple1.sort()
print(tuple1)

[7, 22, 34]

# 3.Write a python program to implement the following using list.
i)Create a list with integers(minimum 10 numbers)
ii)How to display the last number in the list.
iii)Command for displaying the values from the list[0:4]
iv)Command for displaying the values from the list[2:]
v)Command for displaying the values from the list[:6]

In [13]:
#i)Create a list with integers(minimum 10 numbers)
lst=[76,27,18,29,56,9,11,7,10,84]
lst

[76, 27, 18, 29, 56, 9, 11, 7, 10, 84]

In [21]:
#ii)How to display the last number in the list.
lst=[76,27,18,29,56,9,11,7,10,84]
last_num=lst[len(lst)-1]
last_num

84

In [24]:
#iii)Command for displaying the values from the list[0:4]
lst=[76,27,18,29,56,9,11,7,10,84]
lst=lst[0:4]
print(lst)

[76, 27, 18, 29]

In [25]:
#iV)Command for displaying the values from the list[2:] 
lst=[76,27,18,29,56,9,11,7,10,84]
lst=lst[2:]
lst

[18, 29, 56, 9, 11, 7, 10, 84]

In [26]:
# v)Command for displaying the values from the list[:6]
lst=[76,27,18,29,56,9,11,7,10,84]
lst=lst[:6]
lst

[76, 27, 18, 29, 56, 9]

# 4.Write a Python program:tuple1=(10,50,20,40,30)
i)To display the elements 10 and 50 from tuple1.
ii)To display the length of a tuple1.
iii)To find the minimum element from tuple1.
iv)To add all the elements in the tuple1.
v)To display the same tuple1 multiple times.

In [30]:
#i)To display the elements 10 and 50 from tuple1.
tuple1=(10,50,20,40,30)
tuple1[0:2]

(10, 50)

In [31]:
# ii)To display the length of a tuple1.
len(tuple1)

5

In [34]:
# iii)To find the minimum element from tuple1.
tuple1=(10,50,20,40,30)
min(tuple1)

10

In [41]:
#iv)To add all the elements in the tuple1.
tuple1=(10,50,20,40,30)
lst=list(tuple1)
lst1=lst[0]+lst[1]+lst[2]+lst[3]+lst[4]
print(lst1)

150

In [42]:
tuple1=(10,50,20,40,30)
sum(tuple1)

150

In [43]:
#v)To display the same tuple1 multiple times.
tuple1=(10,50,20,40,30)
tuple1*3

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5.Write a Python program:
i)To calculate the length of the string
ii)To reverse words in a string
iii)To display the same string multiple times
iv)To concatenate two strings
v)Str1="South India",using string slicing to display "India"

In [44]:
#i)To calculate the length of the string
Str="sirisha"
len(Str)

7

In [62]:
#ii)To reverse words in a string
Str="sirisha"
l=len(Str)
print(Str[::-1])

ahsiris

In [64]:
#iii)To display the same string multiple times
Str*4

'sirishasirishasirishasirisha'

In [66]:
#iv)To concatenate two strings
Str='sirisha'
Str1='kandula'
Str+' '+Str1

'sirisha kandula'

In [67]:
#v)Str1="South India",using string slicing to display "India"
Str1="South India"
Str1[6:]

'India'

# 6.Perform the following:
i)Creating the Dictionary.
ii)Accessing values and keys in the Dictionary.
iii)Updating the dictionary using the function.
iv)Clear and delete the ductionary values.

In [68]:
#i)Creating the Dictionary.
dict={'key1':'book','key2':'pen','key3':'table'}
dict

{'key1': 'book', 'key2': 'pen', 'key3': 'table'}

In [84]:
#ii)Accessing values and keys in the Dictionary.
dict={'key1':'book','key2':'pen','key3':'table'}
d=dict.get('key2')
print(d)
access_key=dict.keys()
print(access_key)
access_value=dict.values()
print(access_value)

pen
dict_keys(['key1', 'key2', 'key3'])
dict_values(['book', 'pen', 'table'])

In [69]:
#iii)Updating the dictionary using the function.
d = {'name':'sirisha', 'age':22, 'city': 'HYD'}
d['age'] = 21
print('updated dictionary' , d)

updated dictionary {'name': 'sirisha', 'age': 21, 'city': 'HYD'}

In [93]:
#iv)Clear and delete the ductionary values.
dict={'key1':'book','key2':'pen','key3':'table'}
d=dict.pop("key3")
print(d)
c=dict.clear()
print(c)

table
None

# 7.Python program to insert a number to any position in a list.

In [110]:
lst=['siri',876,'@*']
lst.insert(2,27)
print(lst)

['siri', 876, 27, '@*']

# 8.Python program to delete an element from a list by index.

In [116]:
lst=['siri',876,'@*']
del lst[2]
lst

['siri', 876]

# 9.Write a program to display a number from 1 to 100.

In [194]:
for i in range(1,101):
  print(i,end=" ")
#for i in range(1,101):
#    if(i<=100):
#       print(i)
#    else:
 #     break

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

# 10.Write a Python program to find the sum of all items in a tuple.

In [146]:
tuple1=(2,4,7,0)
sum(tuple1)

13

# 11.Create a dictionary containing three lambda functions square,cube and square root.
i)E.g. dict={'Square':function for squaring,'Cube':function for cube,'Squareroot':function for square root}
ii)Pass the values(input from the user)to the functions in the dictionary respectively.
iii)Then add the outputs of each function and print it.

In [75]:
dict={'Square':lambda x:x**2,'Cube':lambda x:x**3,'Square Root':lambda x:x**0.5}
user_input=int(input("enter number:"))
output_total=0
for key,function in dict.items():
    output=function(user_input)
    print(key,'of',user_input,'is',output)
    output_total=output_total+output
print('sum =',output_total)

enter number:4
Square of 4 is 16
Cube of 4 is 64
Square Root of 4 is 2.0
sum = 82.0

# 12.A list of words is given.Find the words from the list that have their second character in uppercase.
ls=['hello','Dear','hOw','ARe','You']

In [170]:
ls=['hello','Dear','hOw','ARe','You']
ls1=[]
for i in ls:
    if(i[1].isupper()):
        ls1.append(i)
print(ls1)

['hOw', 'ARe']

# 13.A dictionary of names and their weights on earth is given.Find how much they will weigh on the moon.(Use map and lambda functions)Formula:wMoon=(wEarth*GMoon)/GEarth
i)#Weight of people in kg
  WeightOnEarth={'John':45,'Shelly':65,'Mary':35}
ii)#Gravitational force on the Moon:1.622 m/s2
  GMoon=1.622
iii)#Gravitational force on the Earth:9.81 m/s2
  GEarth=9.81

In [79]:
weight_on_earth = {'John': 45, 'Shelly': 65, 'Marry': 35}
g_moon = 1.622
g_earth = 9.81
weight_on_moon = {name: (weight * g_moon) / g_earth for name, weight in weight_on_earth.items()}
print("Weight on the Moon:")
for name, weight in weight_on_moon.items():
    print(f"{name}: {weight:.2f} kg")

Weight on the Moon:
John: 7.44 kg
Shelly: 10.75 kg
Marry: 5.79 kg

# Control Structures:

In [39]:
# 1.Write a python program to find the first N Prime numbers.
n=int(input())
for i in range(2,n):
    for j in range(2,i):
        if i%j==0:
           break
    else:
     print(i)

7
2
3
5

In [40]:
# 2.Write the python code that calculates the salary of an employee.
#Prompt the user to enter the Basic Salary,HRA,TA, and DA.Add these components the Gross Salary.
#Also,deduct 10% of salary from the Gross Salary to be paid as tax and display gross minus tax as net salary.
basic_sal=int(input('enter basic salary:'))
HRA=int(input('enter HRA'))
TA=int(input('enter TA'))
DA=int(input('enter DA'))
discount=int(input('enter discount'))
total_Gross_sal=basic_sal+HRA+TA+DA
tax=total_Gross_sal-(total_Gross_sal*discount/100)
net_sal=(total_Gross_sal-tax)
print(net_sal)

enter basic salary:10000
enter HRA100
enter TA200
enter DA100
enter discount10
1040.0

In [53]:
# 3.Write a python program to search for a string in the given list.
li=['apple','banana','orange','mango']
search =input('enter search elememt:')
matched=0
for i in li:
    if i==search:
        matched=1
        break
if matched==1:
    print("Your search element is:",i)
else:
    print("given string is not avaliable")

enter search elememt:banana
Your search element is: banana

In [63]:
#4.Write a Python function that accepts a string and calculates the number of upper-case letters and lower-case letters.
def str_up_low(str):
    upper_count=0
    lower_count=0
    for i in str:
        if i.isupper():
            upper_count+=1
        elif i.islower():
            lower_count+=1
    print('no.of uppercase letters %d and no.od lowercase letters %d' %(upper_count,lower_count))
new_str=input('enter the string:')
str_up_low(new_str)

enter the string:SIri
no.of uppercase letters 2 and no.od lowercase letters 2

In [72]:
# 5.Write a program to display the sum of odd numbers and even numbers that fall between 12 and 37.
sum_even=0
sum_odd=0
for i in range(12,38):
    if(i%2==0):
        sum_even+=i
    else:
        sum_odd+=i
print(sum_even)
print(sum_odd)

312
325

In [74]:
# 6.Write a python program to print the table of any number
n=int(input("Enter the number:"))
for i in range(1,11):
    print(n,"x",i,"=",n*i)

Enter the number:9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [108]:
#7.Write a Python program to sum the first 10 prime numbers.
n=10
count=1
range_num=2
sum=0
while(count<=n):
    prime=True
    for i in range(2,range_num):
        if(range_num%i)==0:
            prime=False
            break
    if(prime):
        sum=sum+range_num
        count=count+1
    range_num=range_num+1
print(sum)

129

In [70]:
#8.Write a python program to implement arithmetic operations using nested if statement.
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
operation = input("Enter the operation (+, -, *, /): ")

if operation == "+":
    result = num1 + num2
elif operation == "-":
    result = num1 - num2
elif operation == "*":
    result = num1 * num2
elif operation == "/":
    if num2 != 0:
        result = num1 / num2
    else:
        result = "Division by zero is not allowed"
else:
    result = "Invalid operation"
print(result)

Enter the first number: 4
Enter the second number: 3
Enter the operation (+, -, *, /): +
7

In [114]:
#9.Write a python program to take the temperature in Celsius and convert it to a Fahrenheit.
celsius= int(input("Enter the Temperature in Celsius:"))
fahrenheit = (1.8 * celsius) + 32
print("Temperature in Fahrenheit:", fahrenheit)

Enter the Temperature in Celsius:27
Temperature in Fahrenheit: 80.6

In [122]:
#10.Write a python program to find a maximum and minimum number in a list without using an inbuilt function.
def max_min(data):
  l = data[0]
  s = data[0]
  for num in data:
    if num> l:
      l = num
    elif num< s:
        s = num
  return l, s
print(max_min([2,89,4,1,-7]))

(89, -7)

In [125]:
#11.Write a program in python to print out the number of seconds in 30-days month 30 days,
#24 hours in a day,60 minutes per day,60 seconds in a minute.
days_in_month=30
hours_in_day=24
minutes_in_hour=60
seconds_in_minute=60
sec_in_month=days_in_month*hours_in_day*minutes_in_hour*seconds_in_minute
print(sec_in_month)

2592000

In [126]:
#12.Write a program in python to print out the number of seconds in a year.
days=365
hours=24
minutes=60
seconds=60
print("Number of seconds in a year : ",days*hours*minutes*seconds)

Number of seconds in a year :  31536000

In [127]:
#13.A high-speed train can travel at an average speed of 150 mph,
#how long will it take a train travelling at this speed to travel from London to Glasgow which is 414 miles away?
speed=150
distance=414
time=distance/speed
print(time)

2.76

In [1]:
#14.Write a python program that defines a variable called days_in_each_school_year and assign 192 to the variable.
#The program should then print out the total hours that you spend in school from year 7 to year 11,
#if each day you spend 6 hours in school days_in_each_school_year=192.
days_in_each_school_year = 192
total_hours_in_school = 0
for year in range(7, 12):
    total_hours_in_school += days_in_each_school_year * 6
print(f"Total hours spent in school from year 7 to year 11: {total_hours_in_school} hours")

Total hours spent in school from year 7 to year 11: 5760 hours

In [2]:
#15.If the age of Ram,Sam and Khan are input through the keyboard,
#Write a python program to determine the eldest and youngest of the three.
ram_age = int(input("Enter the age of Ram: "))
sam_age = int(input("Enter the age of Sam: "))
khan_age = int(input("Enter the age of Khan: "))
if ram_age > sam_age and ram_age > khan_age:
    eldest = "Ram"
    if(sam_age>khan_age):
        youngest='Khan'
    else:
        youngest='Sam'
        
elif sam_age > ram_age and sam_age > khan_age:
    eldest = "Sam"
    if(ram_age>khan_age):
        youngest='Khan'
    else:
        youngest='Ram'
        
else:
    eldest = "Khan"
    if(ram_age>sam_age):
        youngest='Sam'
    else:
        youngest='Ram'
maxage=max(ram_age, sam_age, khan_age)
minage=min(ram_age, sam_age, khan_age)
print(maxage)
print(minage)

Enter the age of Ram: 16
Enter the age of Sam: 76
Enter the age of Khan: 34
76
16

In [43]:
#16.Write a python program to rotate a list by right n times with and without slicing technique.
#with slicing
def rotate_right(lst, n):
    if not lst:
        return lst  
    n=n%len(lst) 
    return lst[-n:] + lst[:-n]
original_list = [1, 2, 3, 4, 5]
n = int(input("Enter the number of times to rotate to the right: "))
rotated_list = rotate_right(original_list, n)
print(original_list)
print(rotated_list)

Enter the number of times to rotate to the right: 2
[1, 2, 3, 4, 5]
[4, 5, 1, 2, 3]

In [45]:
#without slicing
def rotate_without_slicing(lst, n):
    if not lst:
        return lst
    n = n % len(lst) 
    rotated_list = [None] * len(lst)
    for i in range(len(lst)):
        rotated_list[(i + n) % len(lst)] = lst[i]
    return rotated_list
my_list = [1, 2, 3, 4, 5]
rotation_count = int(input("Enter the number  within range of list length:"))
rotated_list = rotate_without_slicing(my_list, rotation_count)
print("Rotated list without slicing:", rotated_list)

Enter the number  within range of list length:3
Rotated list without slicing: [3, 4, 5, 1, 2]

In [54]:
#17.Python program to print the patterns given below: 
#i)pattern1
num_rows = int(input("Enter the number of rows:"))
def binomial_coefficient(n, k):
    if k == 0 or k == n:
        return 1
    return binomial_coefficient(n - 1, k - 1) + binomial_coefficient(n - 1, k)
for i in range(num_rows):
    for j in range(i + 1):
        print(binomial_coefficient(i, j), end=" ")
    print()

Enter the number of rows:7
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [51]:
#ii)pattern2
num_rows=int(input("Enter the number"))
for i in range(1, num_rows + 1):
    print("*" * i)

Enter the number5
*
**
***
****
*****

In [67]:
#iii)pattern3
rows = int(input("Enter the number of rows:"))  
k = 2 * rows - 2   
for i in range(0, rows):  
    for j in range(0, k):  
        print(end=" ")  
    k = k - 2     
    for j in range(0, i + 1):  
        print(" * ", end="")
    print(" ")

Enter the number of rows:6
           *
         *  *
       *  *  *
     *  *  *  *
   *  *  *  *  *
 *  *  *  *  *  *

In [68]:
#iv)pattern4
str=input("enter the string:")
len=len(str)
for i in range(len):
  for j in range(i+1):
    print(str[j],end="")
  print()

enter the string:sirisha
s
si
sir
siri
siris
sirish
sirisha